#title {
 color: rgb(255, 255, 65);
 font-size: 40px;
 font-family: Lobster;
 text-align: center;
 position: relative;
 left: 325px;
}
#more, .white {
color: white;
font-style: italic;
font-size: 17px;
text-decoration: underline;
opacity: 0.8;
}
#imagen-more {
 position: relative;
left: 300px;
}
body {
 background-color: #23272A;
width: 870px;
}
.white-bold {
 color: white;
 font-size: 20px;
 font-weight: bold;
}
li {
 color: white;
 font-size: 17px;
}
#grey-border {
 background: #3d454b;
 border-color: white;
 border-style: solid;
 border-width: 3px;
 border-radius: 10px;
 width: 281px;
 font-family: Lato;
 padding: 10px;
 position: relative;
 left: 900px;
 bottom: 300px;
}
#form {
 color: tomato;
 font-size: 18px;
 position: relative;
 left: 620px;
 bottom: 270px;
}
